<ion-header no-border>
  <ion-navbar>
    <ion-title>Location</ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-bounce>
  <ion-row class="app-icon-container">
    <ion-col text-center>
      <ion-img style="width: 180px; height: 48px; margin-top: 20px;" src="assets/imgs/logo.png"></ion-img>
    </ion-col>
  </ion-row>

  <ion-item style="margin-top: 30px;" no-lines>
      <h2 *ngIf="this.user">Welcome, {{this.user}}</h2>
      <h3>Your current location is:</h3>
      <h4>Latitude: </h4>
      <p *ngIf="this.currentPos">{{this.currentPos.coords.latitude}}</p>
      <h4>Longitude: </h4>
      <p *ngIf="this.currentPos">{{this.currentPos.coords.longitude}}</p>
  </ion-item>
  <ion-item style="margin-top: 50px;" no-lines>
    <button ion-button block style="height: 45px;background-color:rgb(38,38,38);"(click)="onSendLocation()">
      Send Location
    </button>

    <button ion-button block style="height: 45px; background-color:rgb(82,128,201);"(click)="onCreateMeeting()">
      Create Meeting
    </button>
  </ion-item>

</ion-content>
<ion-footer style="padding: 10px;" no-lines>
  <button ion-button block style="background-color:firebrick;" (click)="onTapLogout()" >Logout</button>
  <ion-item text-center>Powered by GEOTECHNOSOFT
    <!-- Powered by <ion-img src="assets/imgs/sitelogo.png"></ion-img> -->
  </ion-item>
</ion-footer>
