<!--
  Generated template for the ShowMeetingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Meeting</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-row class="app-icon-container">
    <ion-col text-center>
      <ion-img style="width: 180px; height: 48px; margin-top: 20px;" src="assets/imgs/logo.png"></ion-img>
    </ion-col>
  </ion-row>

  <ion-item>
    <ion-col text-center>
      <h1> {{currentTime}} </h1>
    </ion-col>
  </ion-item>
  <ion-item center>
    <ion-label> {{title}} </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Meeting with {{partner}}</ion-label>
  </ion-item>

  <form [formGroup]="meetingDetailsForm">
    <ion-item *ngIf="isStarted">
      <ion-label floating>
        Description
      </ion-label>
      <ion-input [formControl]="meetingDetailsForm.controls['meetingDetails']" type="text"></ion-input>
    </ion-item>
    <div *ngIf="isStarted && meetingDetailsForm.controls['meetingDetails'].hasError('pattern') &&
        (meetingDetailsForm.controls['meetingDetails'].dirty)"
        class="validator-error">
        Details should not be empty.
    </div>
    <ion-row class="sign-in-button-container">
      <ion-col text-center center>
        <button ion-button block style="background-color:rgb(38,38,38);"
                [disabled]="isStarted && !meetingDetailsForm.valid" (click)="isStarted ? onEndMeeting() : onStartMeeting()">
          {{ isStarted ? "End Meeting" : "Start Meeting" }}
        </button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
<ion-footer style="padding: 10px;" no-lines>
  <ion-item text-center>Powered by GEOTECHNOSOFT
    <!-- Powered by <ion-img src="assets/imgs/sitelogo.png"></ion-img> -->
  </ion-item>
</ion-footer>
